**/target/
/.idea/
**/*.iml
**/.project
**/.settings/
**/dependency-reduced-pom.xml
**/.classpath
**/.cache
**/.factorypath
**/.springBeans
**/logs
**/*.log

node_modules/
metastore_db/
**.log
**.pid

package.json
package-lock.json
