<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.baymax.dsp.data.sys.mybatis.mapper.security.UserMapper">
	<resultMap id="BaseResultMap" type="com.info.baymax.dsp.data.sys.entity.security.User">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="enabled" jdbcType="INTEGER" property="enabled" />
		<result column="expired_time" jdbcType="BIGINT" property="expiredTime" />
		<result column="last_modified_time" jdbcType="TIMESTAMP"
			property="lastModifiedTime" />
		<result column="last_modifier" jdbcType="VARCHAR" property="lastModifier" />
		<result column="module_version" jdbcType="INTEGER" property="moduleVersion" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="name_duplicatable" jdbcType="BIT" property="nameDuplicatable" />
		<result column="owner" jdbcType="VARCHAR" property="owner" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="hdfs_space_quota" jdbcType="BIGINT" property="hdfsSpaceQuota" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="resource_queues" jdbcType="VARCHAR" property="resourceQueues"
			typeHandler="com.info.baymax.common.mybatis.type.base64.varchar.GZBase64VarcharVsListStringTypeHandler" />
		<result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
		<result column="is_admin" jdbcType="INTEGER" property="admin" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="account_expired_time" jdbcType="TIMESTAMP"
			property="accountExpiredTime" />
		<result column="pwd_expired_time" jdbcType="TIMESTAMP"
			property="pwdExpiredTime" />
	</resultMap>

	<resultMap id="BaseWithRolesResultMap" extends="BaseResultMap"
		type="com.info.baymax.dsp.data.sys.entity.security.User">
		<association property="roles" column="id" fetchType="eager"
			select="com.info.baymax.dsp.data.sys.mybatis.mapper.security.RoleMapper.selectWithPermsByUserId" />
	</resultMap>

	<select id="selectOneWithRoles" parameterType="Map"
		resultMap="BaseWithRolesResultMap">
	<![CDATA[
	select * from dsp_sys_user t
	]]>
		<where>
			<if test="id != null and id != ''"> and id = #{id,jdbcType=VARCHAR}</if>
			<if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId,jdbcType=VARCHAR}</if>
			<if test="username != null and username != ''">and username = #{username,jdbcType=VARCHAR}</if>
			<if test="owner != null and owner != ''">and owner = #{owner,jdbcType=VARCHAR}</if>
			<if test="version != null and version != ''">and version = #{version,jdbcType=VARCHAR}</if>
			<if test="enabled != null">and enabled = #{enabled,jdbcType=INTEGER}</if>
		</where>
	</select>

</mapper>