<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Insert title here</title>
    <script src="jquery.js"></script>
    <script type="text/javascript">
	function login() {
		$
				.ajax({
					type : "get",
					url : "http://10.40.3.29:8083/cas/check?service=http%3A%2F%2F10.40.3.29%3A8516%2Fcas%2Flogin",
					headers : {
						"Accept" : "application/json; charset=utf-8",
					},
					contentType : "application/x-www-form-urlencoded; charset=UTF-8",
					dataType : "json",
					success : function(data) {
						if (data.opCode == 0) {
							window.location.href = data.tgtUrl + "?service="
									+ data.service
						}
					},
					error : function(data) {
						console.log(data);
					}
				})
	}

    </script>
</head>
<body>
<b>返回结果：</b>
<div></div>
<input type="button" value="login" onclick="login()">
<br/>
</body>
</html>