<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.baymax.dsp.data.sys.mybatis.mapper.security.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.info.baymax.dsp.data.sys.entity.security.Permission">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="enabled" jdbcType="INTEGER" property="enabled" />
		<result column="expired_time" jdbcType="BIGINT" property="expiredTime" />
		<result column="last_modified_time" jdbcType="TIMESTAMP"
			property="lastModifiedTime" />
		<result column="last_modifier" jdbcType="VARCHAR" property="lastModifier" />
		<result column="owner" jdbcType="VARCHAR" property="owner" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="half_select" jdbcType="INTEGER" property="halfSelect" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="route" jdbcType="VARCHAR" property="route" />
		<result column="ord" jdbcType="VARCHAR" property="order" />
		<result column="client_id" jdbcType="VARCHAR" property="clientId" />
	</resultMap>

	<resultMap id="BaseWithChildrenResultMap" extends="BaseResultMap"
	type="com.info.baymax.dsp.data.sys.entity.security.Permission">
		<association property="children" column="id" fetchType="eager"
			select="selectByParentId" />
	</resultMap>

	<select id="selectByRoleId" parameterType="String" resultMap="BaseResultMap">
	<![CDATA[
       select p.*,rr.half_select from dsp_sys_menu p left join ref_role_permission rr
       on p.id = rr.permission_id where rr.role_id = #{roleId,jdbcType=VARCHAR}
	]]>
	</select>

	<select id="selectByParentId" parameterType="String"
		resultMap="BaseWithChildrenResultMap">
	<![CDATA[select * from dsp_sys_menu t where t.parent_id = #{parentId,jdbcType=VARCHAR}]]>
	</select>

	<select id="selectOneWithChildren" parameterType="String"
		resultMap="BaseWithChildrenResultMap">
	<![CDATA[select * from dsp_sys_menu t where t.id = #{id,jdbcType=VARCHAR}]]>
	</select>
</mapper>